<!DOCTYPE html>
<html lang="es">	
<head>
	<meta charset="UTF-8">
	<title>Modulo - Principal</title>
	<!-- <script type="text/javascript" src="js/jq.js"></script> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/public/css/myStyle.css">
	<link rel="stylesheet" type="text/css" href="/public/css/font-awesome.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/public/js/fontawesome-all.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<!-- Nombre de la institución: Centro de Salud Santa Cruz -->
	<header>
		<div class="logoNombre">
			<div class="logo top-barActions">
				<img src="/public/assets/secretaria.jpg" style="height: 100%;margin-left: 0%">
			</div>
		</div>
		<div class="top-barActions">
			<div class="conf"><a href="#"><i class="fas fa-cog"></i></a></div>
			<div class="logOut"><a href="https://stark-sea-10471.herokuapp.com/logout"><i class="fas fa-sign-out-alt"></i></a></div>
		</div>
		<p>SISTEMA WEB PARA LA GESTIÓN DE EXPEDIENTES CLÍNICOS <br>CENTRO DE SALUD SANTA CRUZ</p>
	</header>
	<!-- Barra lateral izquierda -->
	<div class="leftSide">
		<!-- Información de usuario -->
		<div class="userInfo">
			<div class="userPicture" style="background-image: url('/public/assets/11.png');background-position: center; background-repeat: no-repeat; background-size: 100% 100%;"></div>
			<div class="row align-content-center text-center">
				<div class="col-auto">
					<p class="h5" style="margin-left: 40px">Nombre :</p>
				</div>
				<div class="col-auto">
					<span id="ID_USER" style="display: none;"> <%= idU%> </span>
					<p class="h5"><%=user%></p>
				</div>
			</div>
		</div>
		<!-- End información de usuario -->
		<!-- Accordion -->
		<div id="accordion">
			<%
			if(permiso.expediente){
			%>
			<div class="card">
				<div class="card-header" id="headingOne">
					<h5 class="mb-0">
						<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							EXPEDIENTES CLINICOS
						</button>
					</h5>
				</div>
				<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
					<div class="card-body">
						<%if(permiso.crearExp){%>
                        <div id="crearExp">
                            <a href="#">Crear Expediente</a>
                        </div>
                        <%}%>
                        <%if(permiso.modificarExp){%>
                        <div id="modifExp">
                            <a href="#">Gestion de Expediente</a>
                        </div>
                        <%}%>

					</div>
				</div>
			</div>

			<%

				}

			%>
			<%
			if(permiso.usuario){

			%>
			<div class="card">
				<div class="card-header" id="headingTwo">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
							USUARIOS
						</button>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
					<div class="card-body">
						<%if(permiso.crearUser){%>
							<div id="crearUser">
								<a href="#">Crear Usuario</a>
							</div>
							<%}%>
							<%if(permiso.modificarUser){%>
							<div id="modifUser">
								<a href="#">Gestion de Usuarios</a>
							</div>
							<%}%>
					</div>
				</div>
			</div>

			<%

				}
			%>

			<%

			if(permiso.consulta){
			%>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
							CONSULTAS
						</button>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
					<div class="card-body">

						<div id="procesoConsulta">
							<a href="#">Realizar consulta</a>
						</div>
					</div>
				</div>
			</div>
			<%
				}
			%>
			<%
			if(permiso.coordinador){
			%>
			<div class="card">
				<div class="card-header" id="headingThree">
					<h5 class="mb-0">
						<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFourth" aria-expanded="false" aria-controls="collapseFourth">
							ACCIONES DE COORDINADOR
						</button>
					</h5>
				</div>
				<div id="collapseFourth" class="collapse" aria-labelledby="headingFourth" data-parent="#accordion">
					<div class="card-body">
						<div id="genHojaDiaria">
							<a href="#">Generar hoja diaria</a>
						</div>
						<div id="genInformeMensual">
							<a href="#">Generar Estadisticas</a>
						</div>
					</div>
				</div>
			</div>
			<%
				}
			%>
		</div>
		<!-- End accordion -->
	</div>
	<!-- Modal continuarExp -->
						<div class="modal fade continuarExp" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Continuar</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>¿Está seguro de guardar así estos datos?</p>
									</div>
									<div class="modal-footer">
										<button type="button" data-dismiss="modal" class="btn btn-success">¡Sí!</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Aún no</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Fin modal continuarExp -->

			<div class="modal fade cancelarExp" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Cancelar</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>¿Está seguro de que desea cancelar esta consulta?</p>
										<p>Se perderán los datos ingresados hasta ahora en
										todas las partes de la consulta.</p>
									</div>
									<div class="modal-footer">
										<button type="submit" data-dismiss="modal" class="btn btn-danger">¡Sí!</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Aún no</button>
									</div>
								</div>
							</div>
						</div>
	<div class="rightSide container-fluid">
		<!-- Forms -->
		<%if(permiso.expediente){%>
		<div class="containerForms createExp">
			<!-- botón de retroceso -->
			<div id="Prev"><a href=<%localURL%>><i class="fas fa-arrow-left"></i></a>
				<p>CREAR EXPEDIENTE</p>
			</div>
			<!-- barra de estado -->
			<div class="statusBar">
				<table class="statusTable">
					<tr>
						<td id="fi">Ficha de identificación</td>
						<td id="antec">Antecedentes Heredo Familiares</td>
						<td id="an">Antecedentes Personales No Patológicos</td>
						<td id="in">Inmunizaciones</td>
						<td id="ap">Antecedentes Personales Patológicos</td>
						<td id="anGi">Antecedentes Ginecoobstétricos</td>
					</tr>
				</table>
			</div>
			
			<!-- Formulario -->
			<div class="putForm">
				<!-- Aquí se ponen los forms desde GeClinic.js -->
				<form id="firstForm">
				<div class="bienvenidaExp">
					<label>Presione comenzar para crear un nuevo Expediente</label>
					<input type="button" name="initExp" id="initExp" value="Comenzar" class="btn btn-primary">
				</div>
				</form>

				<!-- Form antecedentes -->
				<form id="formAntec" action="#">
					<div class="groupForm parent">
						<label for="parentesco">Debe ingresar <b>dos</b> antecedentes (faltantes: <span id="parentRest"></span>)</label>
						<select id="parentesco" name="parentesco">
							<option value="paterno">Paterno</option>
							<option value="materno">Materno</option>
						</select>
						<input type="button" id="agregar" name="Agregar" value="Agregar" class="btn btn-primary">
					</div>
					<div style="clear: both"></div>
					<div class="groupForm" id="Ha">
						<label for="HA">HA:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="Ha" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked value="No" name="Ha" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="diabetes">
						<label for="diabetes">Diabetes:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio"  name="diabetes" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="diabetes" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="cancer">
						<label for="cancer">Cáncer:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="cancer" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="cancer" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="tb">
						<label for="TB">TB:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="TB" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="TB" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="sida">
						<label for="sida">SIDA:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="sida" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" name="sida" checked class="No" value="No">
						</div>
					</div>
					<div class="groupForm"><label for="otros">Otros:</label><textarea name="otros" id="otros" placeholder="Especifique..."></textarea></div>
					<div style="clear:both;"></div>
					<button class="btn btn-success continuarButton" data-toggle="modal" data-target=".continuarExp" type="button">Continuar</button>
				</form>

				<!-- Fin de form antecedentes -->

				<!-- Form ficha identificación -->

				<form id="formFichIde" action="#">
					<div class="groupForm">
						<label for="idNombrePaciente">Nombre(s) del paciente:</label>
						<input placeholder="Ingrese nombre" type="text" id="idNombrePaciente" name="idNombrePaciente">
					</div>
					<div class="groupForm">
						<label for="idApPat">Apellido Paterno:</label>
						<input placeholder="Ingrese Apellido paterno" type="text" id="idApPat" name="idApPat">
					</div>
					<div class="groupForm">
						<label for="idApMat">Apellido Materno:</label>
						<input placeholder="Ingrese Apellido materno" type="text" id="idApMat" name="idApMat">
					</div>
					<div class="groupForm">
						<label for="direccion">Dirección o domicilio:</label>
						<input placeholder="Ingrese dirección" type="text" id="direccion" name="direccion">
					</div>
					<div class="groupForm">
						<label for="curp">CURP:</label>
						<input placeholder="Ingrese CURP" type="text" id="curp" name="curp" onkeyup="this.value = this.value.toUpperCase();">
					</div>
					<div class="groupForm">
						<label for="estadoCivil">Estado civil:</label>
						<select id="estadoCivil" name="estadoCivil">
							<option selected value="seleccione">Seleccione...</option>
						</select>
					</div>
					<!-- <div class="groupForm">
						<label for="laboresHogar" id="laboresHogar">Labores de hogar:</label>
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="laboresHogar" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" name="laboresHogar" class="No" value="No">
						</div>
					</div> -->
					<div class="groupForm" id="sinOcupaciokkn">
						<label for="sinOcupacion">Ocupación:</label>
						<select id="sinOcupacion" name="sinOcupacion">
							<option selected value="seleccione">Seleccione...</option>
							<option value="ninguna">Ninguna</option>
							<option value="estudia">Estudia</option>
							<option value="trabaja">Trabaja</option>
							<option value="laboresHogar">Labores del hogar</option>
							<option value="desempleado">Desempleado</option>
							<option value="jubilado">Jubilado</option>
						</select>
					</div>
					<div class="groupForm">
						<label for="sexo">Sexo:</label>
						<select id="sexo" name="sexo">
							<option selected value="seleccione">sexo</option>
							<option value="Hombre">Hombre</option>
							<option value="Mujer">Mujer</option>
						</select>
					</div>
					
					<!-- <div class="groupForm" id="trabaja">
						<label for="trabaja">Trabaja:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="trabaja" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" name="trabaja" class="No" value="No">
						</div>

					</div>
					<div class="groupForm" id="jubilado">
						<label for="jubilado">Jubilado:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="jubilado" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" name="jubilado" class="No" value="No">
						</div>

					</div> -->
					<!-- <div class="groupForm" id="padreSoltero">
						<label for="padreSoltero">Padre soltero:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="padreSoltero" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" name="padreSoltero" class="No" value="No">
						</div>
					</div> -->
					<div style="clear:both;"></div>
					<button class="btn btn-success continuarButton" data-toggle="modal" data-target=".continuarExp" type="button">Continuar</button>
				</form>
				<!-- Fin de form Ficha identificación -->

				<!-- Form APNP -->

				<form id="formAPNP" action="#">
					<div class="groupForm" id="promiscuidad">
						<label for="promiscuidad">Promiscuidad:</label>
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="promiscuidad" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="promiscuidad" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="hacinamiento">
						<label for="hacinamiento">Hacinamiento:</label>
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="hacinamiento" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="hacinamiento" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="tabaco">
						<label for="tabaco">Tabaco:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="tabaco" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="tabaco" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="dieta">
						<label for="dieta">Dieta:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="dieta" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="dieta" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="alcohol">
						<label for="alcohol">Alcohol:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="alcohol" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="alcohol" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="vivissenda">
						<label for="vivissenda">Vivienda:</label>
						<select id="vivienda" name="vivienda">
							<option selected value="seleccione">Seleccione...</option>
							<option value="mala">Mala</option>
							<option value="intermedia">Intermedia</option>
							<option value="buena">Buena</option>
						</select>
						
					</div>
					<div class="groupForm" id="fauna">
						<label for="fauna">Fauna:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="fauna" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="fauna" class="No" value="No">
						</div>
					</div>
					
					<div style="clear:both;"></div>
					<button class="btn btn-success continuarButton" data-toggle="modal" data-target=".continuarExp" type="button">Continuar</button>
				</form>
				<!-- Fin de form APNP -->

				<!-- Form Inmunizaciones -->
				<form id="formInmu" action="#">
					<div class="groupForm" id="sabin">
						<label for="sabin">SABIN:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="sabin" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="sabin" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="dpt">
						<label for="dpt" >DPT:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="dpt" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="dpt" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="bcg">
						<label for="bcg" >BCG:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="bcg" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="bcg" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="antisarampion">
						<label for="antisarampion">Antisarampión:</label>
						
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="antisarampion" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="antisarampion" class="No" value="No">
						</div>
					</div>
					<div style="clear:both;"></div>
					<button class="btn btn-success continuarButton" data-toggle="modal" data-target=".continuarExp" type="button">Continuar</button>
				</form>
				<!-- Fin de form inmunizaciones -->

				<!-- Form APP -->

				<form id="formAPP" action="#">
					<div class="groupForm">
						<h5>Antecedentes Perinatales</h5>
					</div>
					<div style="clear: both"></div>
					<div class="groupForm" id="ingresoHospital">
						<label for="ingresoHospital">Ingreso a hospital:</label>
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="ingresoHospital" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="ingresoHospital" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="sonrie">
						<label for="sonrie">Sonríe:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="sonrie" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="sonrie" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="sostieneCabeza">
						<label for="sostieneCabeza">Sostiene su cabeza:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="sostieneCabeza" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="sostieneCabeza" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="seSienta">
						<label for="seSienta">Se sienta:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="seSienta" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="seSienta" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="gatea">
						<label for="gatea">Gatea:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="gatea" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="gatea" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="habla">
						<label for="habla">Habla:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="habla" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="habla" class="No" value="No">
						</div>
					</div>
					<div style="clear: both"></div>
					<div class="groupForm">
						<h5>Enfermedades y alergias</h5>
					</div>
					<div style="clear: both"></div>
					<div class="groupForm" id="traumatismos">
						<label for="traumatismos">Traumatismos:</label>
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="traumatismos" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="traumatismos" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="sarampion">
						<label for="sarampion">Sarampión:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="sarampion" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="sarampion" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="rubeola">
						<label for="rubeola">Rubeola:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="rubeola" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="rubeola" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="tosferina">
						<label for="tosferina">Tosferina:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="tosferina" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="tosferina" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="varicela">
						<label for="varicela">Varicela:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="varicela" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="varicela" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="escarlatina">
						<label for="escarlatina">Escarlatina:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="escarlatina" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="escarlatina" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="amigdalitis">
						<label for="amigdalitis">Amigdalitis:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="amigdalitis" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="amigdalitis" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="parasitoIntestinal">
						<label for="parasitoIntestinal">Parasitosis intestinal:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" checked name="parasitoIntestinal" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="parasitoIntestinal" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="convulsiones">
						<label for="convulsiones">Convulsiones:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="convulsiones" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="convulsiones" class="No" value="No">
						</div>
					</div>
					<div class="groupForm" id="urosepsis">
						<label for="urosepsis">Urosepsis:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="urosepsis" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="urosepsis" class="No" value="No">
						</div>
					</div>
				
					<div class="groupForm" id="cirugia">
						<label for="cirugia">Cirugía:</label>
				
						<div style="clear: both"></div>
						<div class="groupLabel">
							<label for="Si">Si</label>
							<input type="radio" name="cirugia" class="Si" value="Si">
						</div>
						<div class="groupLabel">
							<label for="No">No</label>
							<input type="radio" checked name="cirugia" class="No" value="No">
						</div>
					</div>
					<div style="clear:both;"></div>
					<button class="btn btn-success continuarButton" data-toggle="modal" data-target=".continuarExp" type="button">Continuar</button>
				</form>

				<!-- Fin de form APP -->

				<!-- Form Antec. Ginecoobstétricos -->
				<form id="formAntecGine" action=<%= crearExpediente %>> 
					<div class="groupForm">
						<label for="ultMens">Última menstruación:</label>
						<input type="date" id="ultMens" name="ultMens">
					</div>
					<div class="groupForm">
						<label for="gesta">Gesta:</label>
						<input placeholder="Ingrese número de gestas" type="number" min="0" max="10" id="gesta" name="gesta">
					</div>
					<div class="groupForm">
						<label for="ritmo">Ritmo:</label>
						<input type="text" placeholder="Ingrese ritmo de menstruación" id="ritmo" name="ritmo">
					</div>
					<div class="groupForm">
						<label for="magSang">Magnitud de Sangrado:</label>
						<input placeholder="Ingrese magnitud de sangrado" type="text" id="magSang" name="magSang">
					</div>
					<div class="groupForm">
						<label for="fechaAnticonceptivo">Fecha anticonceptivo:</label>
						<input type="date" id="fechaAnticonceptivo" name="fechaAnticonceptivo">
					</div>
					<div style="clear: both"></div>
					<div class="groupForm" id="ffmenarquia">
						<label for="menarquia">Menarquía:</label>
						<input type="text" id="menarquia" placeholder="Ingrese menarquía" name="menarquia">
					</div>
					
					<div class="groupForm" id="vidSsexAct">
						<label for="vidSexAct">Vida sexual activa:</label>
						<input type="text" id="vidSexAct"  placeholder="Ingrese vida sexual activa" name="vidSexAct">
					</div>
					
					<div class="groupForm" id="absorto">
						<label for="aborto">Aborto:</label>
						<input type="text" id="aborto"  placeholder="Ingrese cantidad de abortos" name="aborto">
					</div>
					<div class="groupForm" id="cesasrea">
						<label for="cesarea" >Cesarea:</label>
						<input type="text" id="cesarea"  placeholder="Ingrese cantidad de cesarea" name="cesarea">
					</div>
					<div class="groupForm" id="legrsadoUt">
						<label for="legradoUt">Legrado uterino:</label>
						<input type="text" id="legradoUt"  placeholder="Ingrese legrado uterino" name="legradoUt">
					</div>
					<div class="groupForm" id="pruebsaEmb">
						<label for="pruebaEmb">Prueba embarazo:</label>
						<select id="pruebaEmb" name="pruebaEmb">
							<option selected value="seleccione">Seleccione...</option>
							<option value="positiva">Positiva</option>
							<option value="negativa">Negativa</option>
						</select>
					</div>
					<div class="groupForm" id="citoslogia">
						<label for="citologia">Citología:</label>
						<input type="text" id="citologia" placeholder="Ingrese citología" name="citologia">
					</div>
					
					<div class="groupForm" id="tiposAnticoncep">
						<label for="tipoAnticoncep">Tipo anticonceptivo:</label>
						<input type="text" id="tipoAnticoncep" placeholder="Ingrese tipo de anticonceptivo" name="tipoAnticoncep">
					</div>
					<div style="clear:both;"></div>
					<button class="btn btn-success continuarButton" data-toggle="modal" data-target=".continuarExp" type="button">Continuar</button>
				</form>

				<!-- Fin de form Antec. Ginecoobstétricos -->
			</div>
		</div>
		<div class="containerForms modifExp">
			<!-- botón de retroceso -->
			<div id="Prev"><a href=<%localURL%>><i class="fas fa-arrow-left"></i></a>
				<p>MODIFICAR Y ELIMINAR EXPEDIENTE</p>
			</div>
			<div class="groupForm buscar groupBuscar">
				<div class="btn-group">
					<label for="tipoBusquedaExp">Filtro</label>
					<select name="tipo" id="tipoBusquedaExp" style="width: 300px;">
						<option value="_id" selected>ID</option>
						<option value="curp">CURP</option>
						<option value="nombre">Primer Nombre</option>
					</select>
					<button class="btn btn-secondary" id="SearchExp" >Buscar</button>
				</div>
				<input placeholder="Seleccione un tipo de busqueda y presione Buscar" type="text" id="buscadorExp" name=<%= buscarUno %>>
				
			</div>
			<div style="clear: both"></div>
			<div class="tablaResultados">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Nombre</th>
							<th scope="col">CURP</th>
							<th scope="col">Direccion</th>
							<th scope="col">Sexo</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody>
						<% collection_expedientes.forEach(expediente => {  %>
						<tr>
								<td scope="col"><%=expediente._id %></td>
								<td scope="col"><%=expediente.nombre+' '+expediente.apPaterno+' '+expediente.apMaterno%></td>
								<td scope="col"><%=expediente.curp%></td>
								<td scope="col"><%=expediente.direccion%></td>
								<td scope="col"><%=expediente.sexo%></td>
								<td>
									<button class="edit btn" value=<%=SolicitarModificarExpediente %> name=<%=expediente.id%>>
										<!-- <i class="fas fa-edit"></i> -->
										Editar
									</button>
									<%if(permiso.eliminarExp){%>
									<button class="delete btn " name=<%=eliminarExpediente + expediente.id%>>
										<!-- <i class="fas fa-trash-alt"></i> -->
										Eliminar
									</button>
									<%}%>
									<button class="see btn" value=<%=expediente.id %> name=<%=buscarExpediente%>>
										<!-- <i class="fas fa-eye"></i> -->
										Ver
									</button>
								</td>
								
						</tr>
						<% }); %>
					</tbody>
				</table>
				<!-- Modal ver -->

		<div class="modal seeExp fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">EXPEDIENTE</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<table class="table table-hover">
							<thead>
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Nombre</th>
									<th scope="col">CURP</th>
									<th scope="col">Direccion</th>
									<th scope="col">Sexo</th>
									<th scope="col">Acciones</th>
								</tr>
							</thead>
							<tbody id="results">
								<!-- <% collection_expedientes.forEach(expediente => {  %>
								<tr>
									<th scope="col">
										<%= expediente._id%>
									</th>
									<td scope="col">
										<%=expediente.nombre%>
											<%=expediente.apPaterno%>
												<%=expediente.apMaterno%>
									</td>
									<td scope="col">
										<%=expediente.curp%>
									</td>
									<td scope="col">
										<%=expediente.direccion%>
									</td>
									<td scope="col">
										<%=expediente.sexo%>
									</td>
									<td>
										<button class="edit" name=<%=expediente._id%>>
											<i class="fas fa-edit"></i>
										</button>
										<button data-target=".eliminar" data-toggle="modal" class="delete" name=<%=eliminarExpediente + expediente._id%>>
											<i class="fas fa-trash-alt"></i>
										</button>
									</td>
								</tr>
								<% }); %> -->
							</tbody>
						</table>

					</div>
					<div class="modal-footer">
					</div>
				</div>
			</div>
		</div>

		<!-- Fin modal ver -->
				<!-- Modal confirmación eliminación -->
				<div class="modal fade eliminar" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Eliminar</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>¿Está seguro de eliminar este dato?</p>
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-danger">¡Sí!</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">¡No!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%}%>
		<%if(permiso.usuario){%>
		<div class="containerForms createUser">
			<div id="Prev"><a href=<%localURL%>><i class="fas fa-arrow-left"></i></a>
				<p>CREAR USUARIO</p>
			</div>
			<!-- Formulario -->
			<div class="putForm">
				<!-- Aquí se ponen los forms desde GeClinic.js -->
				<form id="formUser" method="POST" action= <%= crearUsuario %>>
					<div id="failUser" class="groupForm alert alert-danger">
						</div>
					<div class="groupForm">
						<label for="nomUser">Nombre de usuario:</label>
						<input placeholder="Ingrese nombre de usuario" required type="text" id="nomUser" name="usuario">
					</div>
					<div class="groupForm">
						<label for="password">Contraseña:</label>
						<input placeholder="Ingrese contraseña" required type="password" id="password" name="password">
					</div>
					<div class="groupForm">
						<label for="confirmPassword">Confirmar contraseña:</label>
						<input placeholder="Ingrese contraseña nuevamente" required type="password" id="confirmPassword" name="cpassword">
					</div>
					<div class="groupForm">
						<label for="nomReal">Nombre:</label>
						<input placeholder="Ingrese su nombre real" required type="text" id="nomReal" name="nombre">
					</div>
					<div class="groupForm">
						<label for="apPaterno">Apellido paterno:</label>
						<input placeholder="Ingrese apellido paterno" required type="text" id="apPaterno" name="apPaterno">
					</div>
					<div class="groupForm">
						<label for="apMaterno">Apellido materno:</label>
						<input required placeholder="Ingrese apellido materno" type="text" id="apMaterno" name="apMaterno">
					</div>
					<div class="groupForm">
						<label for="tipoUser">Tipo de usuario:</label>
						<select id="tipoUser" name="TipoUsuario">
							<option value="DOCTOR" selected>Doctor</option>
							<option value="ENFERMERA">Enfermera</option>
							<option value="COORDINADOR">Coordinador</option>
						</select>
					</div>
					<div class="groupForm">
						<label for="cedulaProfesional">Cédula profesional:</label>
						<input placeholder="Ingrese cédula profesional" maxlength="10" min="0" required type="number" id="cedulaProfesional" name="cedula">
					</div>
					<div class="groupForm">
						<label for="activeUser">Activo:</label>
						<select id="activeUser" name="activo">
							<option value=true>Si</option>
							<option value=false>No</option>
							
						</select>
					</div>
					<div style="clear:both;"></div>
					<button class="btn btn-success" type="button" id="guardarUsuario">Continuar</button>
				</form>
			</div>
		</div>
		<div class="containerForms modifUser">
			<!-- botón de retroceso -->
			<div id="Prev"><a href= <%localURL%> ><i class="fas fa-arrow-left"></i></a>
				<p>GESTION DE USUARIOS</p>
			</div>

			<div class="groupForm buscar groupBuscar">
				<div class="btn-group">
					<label for="tipoBusquedaUsr" >Filtro</label>
					<select name="tipo" id="tipoBusquedaUsr" style="width: 300px;">
						<option value="_id" selected>ID</option>
						<option value="TipoUsuario">Tipo de Usuario</option>
						<option value="nombre">Nombre</option>
					</select>
					<button class="btn btn-secondary" id="SearchUsr" >Buscar</button>
				</div>
				<input placeholder="Seleccione un tipo de busqueda y presione Buscar" type="text" id="buscadorUser" name=<%= buscarUsuario %>>
			</div>
			<div class="tablaResultados">
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Nickname</th>
							<% if(permiso.eliminarUser){ %>
							<th scope="col">Password</th>
							<% } %>
							<th scope="col">Nombre</th>
							<th scope="col">Ap. Materno</th>
							<th scope="col">Ap. Paterno</th>
							<th scope="col">Tipo de usuario</th>
							<th scope="col">Activo</th>
							<th scope="col">Acciones</th>
						</tr>
					</thead>
					<tbody id="resUser">
						<!-- <tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
							<td>@mdo</td>
							<td>@mdo</td>
							<td><button class="edit"><i class="fas fa-edit"></i></button><button data-target=".eliminarUser" data-toggle="modal" class="delete"><i class="fas fa-trash-alt"></i></button></td>
						</tr> -->
						<% usuarios.forEach(usuario => { %>
							<tr>
									<td name= <%= usuario.id %> scope="row"><%= usuario.id %></td>
									<td><%= usuario.usuario %></td>
									<% if(permiso.eliminarUser){ %>
									<td><%= usuario.password %></td>
									<% } %>
									<td><%= usuario.nombre%></td>
									<td><%= usuario.apPaterno %></td>
									<td><%= usuario.apMaterno %></td>
									<td><%= usuario.TipoUsuario %></td>
									<% if(usuario.activo){%>
									<td><button class="btn btn-success toggleUser" value=<%=toggle + usuario.id %>><%= usuario.activo%></button></td>
									<%} else {%>
										<td><button class="btn btn-danger toggleUser" value=<%=toggle +usuario.id %>><%= usuario.activo%></button></td>
									<%}%>

									<td>
										<button class="edit btn" name=<%=modificarUsuario + usuario.id%> value=<%=usuario.id %> >
											<!-- <i class="fas fa-edit"></i> -->
											Editar
										</button>
										<button name=<%=eliminarUsuario + usuario.id%> value=<%=usuario.id %> class="btn delete">
											<!-- <i class="fas fa-trash-alt"></i> -->
											Eliminar
										</button>
									</td>
								</tr>
						<% }); %>
					</tbody>
				</table>
				<!-- Modal confirmación eliminación -->
				<div class="modal fade eliminarUser" tabindex="-1" role="dialog" id="confirmDeleteUser">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Eliminar</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>¿Está seguro de eliminar a este Usuario<span id="usuElim"></span>?</p>
							</div>
							<div class="modal-footer">
								<button type="button" data-dismiss="modal" class="btn btn-danger" id="YesElimUser">¡Sí!</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">¡No!</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%}%>
		<%if(permiso.consulta){%>
		<div class="containerForms procesoConsulta">

			<!-- <div class="actions">
				<button>Iniciar consulta</button>
			</div> -->
			<div class="groupForm buscarExpCurp">
				<label for="buscarExpCurp">Ingrese CURP:</label>
				<input placeholder="Ingrese curp para buscar expediente" onkeyup="this.value = this.value.toUpperCase();" required type="text" id="buscarExpCurp" name="buscarExpCurp">
			</div>
			<div class="groupForm buscarExpCurp">
				<button id="buscarEXP" style="margin-top: 45px; width: 50%;" type="button" class="btn btn-primary" value=<%= nuevaConsulta %>>Buscar</button>
			</div>
			<div style="clear: both;"></div>
			<div class="progressConsulta">
				<div class="progressGroup">
					<p><img class="inicio" src="/public/assets/progress1.svg" alt=""> <span class="actions"><button id="iniciar_consulta">Iniciar consulta</button></span></p>
				</div>
				<div class="progressGroup">
					<div class="bar"></div>
				</div>
				<div class="progressGroup c">
					<div class="circle1"></div><p>Tomar signos vitales</p>
				</div>
				<div class="progressGroup">
					<div class="bar"></div>
				</div>
				<div class="progressGroup c">
					<div class="circle2"></div><p>Formato de consulta</p>
				</div>
				<div class="progressGroup">
					<div class="bar"></div>
				</div>
				<div class="progressGroup c">
					<div class="circle3"></div><p>Diagnóstico</p>
				</div>
			</div>
			<div class="consultaViewer resultExpCurp">
				<table style="margin-top: 3%;" class="table table-hover">
					<thead>
						<tr>
							<th scope="col">ID del expediente</th>
							<th scope="col">Nombre del paciente</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
						</tr>
						<tr>
							<th scope="row">3</th>
							<td>Larry the Bird</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="consultaViewer sigVit">
				<div class="viewerTitle">
					<p>Signos vitales</p>
				</div>
				<div class="formViewer">
					<form id="sigVit" action="">
						<div class="groupForm">
							<label for="talla">Talla:</label>
							<input placeholder="Ingrese talla en cm" required type="number" min="40" max="220" id="talla" name="talla">
						</div>
						<div class="groupForm">
							<label for="ta">TA:</label>
							<input placeholder="80" required type="number" min="0" max="200" id="ta1" name="ta"> / 
							<input placeholder="80" required type="number" min="0" max="200" id="ta2" name="ta">
						</div>
						<div class="groupForm">
							<label for="peso">Peso:</label>
							<input placeholder="Ingrese peso" required type="number" min="2" max="220" id="peso" name="peso">
						</div>
						<div class="groupForm">
							<label for="temperatura">Temperatura:</label>
							<input placeholder="Ingrese temperatura" required type="text" id="temperatura" name="temperatura">
						</div>
						<div class="groupForm">
							<label for="imc">IMC:</label>
							<!-- Talla^2/Peso -->
							<input  placeholder="Ingrese IMC" required type="number" step="any" id="imc" name="imc">
						</div>
						<div class="groupForm">
							<label for="pulso">Pulso:</label>
							<input placeholder="Ingrese pulso" required type="number" min="50" max="100" id="pulso" name="pulso">
						</div>
						<button class="btn btn-success" data-toggle="modal" data-target=".continuar" type="button">Continuar</button>
						<button class="btn btn-danger" data-toggle="modal" data-target=".cancelar" type="reset">Cancelar</button>
						<!-- Modal confirmación de registros -->

						<!-- Modal continuar -->
						<div class="modal fade continuar" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Continuar</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>¿Está seguro de guardar así estos datos?</p>
									</div>
									<div class="modal-footer">
										<button type="button" data-dismiss="modal" class="btn btn-success">¡Sí!</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Aún no</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Fin modal continuar -->

						<!-- Modal cancelar -->
						<div class="modal fade cancelar" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Cancelar</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>¿Está seguro de que desea cancelar esta consulta?</p>
										<p>Se perderán los datos ingresados hasta ahora en
										todas las partes de la consulta.</p>
									</div>
									<div class="modal-footer">
										<button type="submit" data-dismiss="modal" class="btn btn-danger">¡Sí!</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Aún no</button>
									</div>
								</div>
							</div>
						</div>

						<!-- Fin modal cancelar -->

						<!-- Fin modales -->
					</form>
				</div>
			</div>
			<div class="consultaViewer formatConsulta">
				<div class="viewerTitle">
					<p>Formato de consulta</p>
				</div>
				<div class="formViewer">
					<form id="formatConsulta" action="">
						<div class="groupForm">
							<label for="deteccion">Detección:</label>
							<select id="deteccion" name="deteccion">
								<option value="Selecciona">Selecciona</option>
							</select>
						</div>
						<div class="groupForm">
							<label for="primAnio">Primera vez al año:</label>
							<input required type="checkbox" id="primAnio" name="primAnio">
						</div>
						<div class="groupForm">
							<label for="tb">Síntomas de TB:</label>
							<input required type="checkbox" id="tb" name="tb">
						</div>
						<div class="groupForm">
							<label for="obesidad">Nivel de obesidad:</label>
							<select id="obesidad" name="obesidad">
								<option selected value="seleccione">Seleccione...</option>
								<option value="obesidad">Obesidad</option>
								<option value="sobrepeso">Sobrepeso</option>
								<option value="normal">Normal</option>
								<option value="bajoPeso">Bajo de peso</option>
							</select>
						</div>
						<div class="groupForm">
							<label for="saludRepro">Salud reproductiva:</label>
							<textarea id="saludRepro" name="saludRepro" placeholder="Diagnóstico de salud reproductiva"></textarea>
						</div>

						<button class="btn btn-success" data-toggle="modal" data-target=".continuar2" type="button">Continuar</button>
						<button class="btn btn-danger" data-toggle="modal" data-target=".cancelar2" type="reset">Cancelar</button>
						<!-- Modal confirmación de registros -->

						<!-- Modal continuar -->
						<div class="modal fade continuar2" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Continuar</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>¿Está seguro de guardar así estos datos?</p>
									</div>
									<div class="modal-footer">
										<button type="button" data-dismiss="modal" class="btn btn-success">¡Sí!</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Aún no</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Fin modal continuar -->

						<!-- Modal cancelar -->
						<div class="modal fade cancelar2" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Cancelar</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>¿Está seguro de que desea cancelar esta consulta?</p>
										<p>Se perderán los datos ingresados hasta ahora en
										todas las partes de la consulta.</p>
									</div>
									<div class="modal-footer">
										<button type="submit" data-dismiss="modal" class="btn btn-danger">¡Sí!</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Aún no</button>
									</div>
								</div>
							</div>
						</div>

						<!-- Fin modal cancelar -->


						<!-- Fin modales -->
					</form>
				</div>
			</div>
			<div class="consultaViewer formatDiagnostico">
				<div class="viewerTitle">
					<p>Diagnóstico</p>
				</div>
				<div class="formViewer">
					<form id="formatDiagnostico" action="">
						<div class="groupForm">
							<label for="diagnostico">Diagnóstico:</label>
							<textarea name="diagnostico" id="diagnostico" placeholder="Especifique su diagnóstico"></textarea>
						</div>
						<div class="groupForm">
							<label for="programMotivo">Programa según motivo:</label>
							<select id="programMotivo" name="programMotivo">
								<option value="seleccione">Seleccione...</option>
								<option value="enfermedadesTransmisibles">Enfermedades transmisibles</option>
								<option value="cronicoDegenerativas">Crónico degenerativas</option>
								<option value="otrasEnfermedades">Otras enfermedades</option>
								<option value="aSanos">A sanos</option>
								<option value="planificacionFamiliar">Planificación familiar</option>
							</select>
						</div>
						<div class="groupForm">
							<!-- <label for="fechaDiagnostico">Fecha:</label>
							<input required type="date" id="fechaDiagnostico" name="fechaDiagnostico"> -->
						</div>
						<button class="btn btn-success" type="button" data-toggle="modal" data-target=".continuar3" id="finConsulta">Continuar</button>
						<button class="btn btn-danger" data-toggle="modal" data-target=".cancelar3" type="reset">Cancelar</button>
						<!-- Modal confirmación de registros -->

						<!-- Modal continuar -->
						<div class="modal fade continuar3" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Continuar</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>¿Está seguro de guardar así estos datos?</p>
									</div>
									<div class="modal-footer">
										<button type="button" data-dismiss="modal" class="btn btn-success" value=<%=guardarConsulta%>>¡Sí!</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Aún no</button>
									</div>
								</div>
							</div>
						</div>
						<!-- Fin modal continuar -->

						<!-- Modal cancelar -->
						<div class="modal fade cancelar3" tabindex="-1" role="dialog">
							<div class="modal-dialog" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title">Cancelar</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<p>¿Está seguro de que desea cancelar esta consulta?</p>
										<p>Se perderán los datos ingresados hasta ahora en
										todas las partes de la consulta.</p>
									</div>
									<div class="modal-footer">
										<button type="submit" data-dismiss="modal" class="btn btn-danger">¡Sí!</button>
										<button type="button" class="btn btn-secondary" data-dismiss="modal">Aún no</button>
									</div>
								</div>
							</div>
						</div>

						<!-- Fin modal cancelar -->


						<!-- Fin modales -->
					</form>
				</div>
			</div>
		</div>
		<%}%>
		<%if(permiso.coordinador){%>
			<div class="containerForms genHojaDiaria">
				<!-- botón de retroceso -->
				<div id="Prev">
					<a href=<%localURL%>>
						<i class="fas fa-arrow-left"></i>
					</a>
					<p>GENERAR HOJA DIARIA</p>
				</div>
				<div class="formHojaDiaria">
						<div class="groupForm">
							<label for="fechaHoja">Ingrese día para generar hoja:</label>
							<input type="date" id="fechaHoja" name="fechaHoja">
						</div>
						<button class="btn btn-dark" id="generarHojaDiaria"  type="button" value=<%=hojaD %>>Generar hoja diaria</button>
				</div>
			</div>
			<div class="containerForms genInformeMensual">
				<!-- botón de retroceso -->
				<div id="Prev">
					<a href=<%= localURL %>>
						<i class="fas fa-arrow-left"></i>
					</a>
					<p>GENERAR ESTADÍSTICAS</p>
					<!-- <p style="font-size: 20px;-webkit-text-stroke: #000;-webkit-text-stroke-width: 0px; ">Ingrese el mes y año del que desea generar informe</p> -->
				</div>
				<div class="formHojaDiaria">
		
					<div class="groupForm">
						<label for="estadistica">Estadistica de Padecimientos detectados:</label>
						<select id="estadi" name="genearEsta">
							<option selected value="Seleccione">Seleccione un Padecimieto</option>
							<option value="cancer">Padecimientos Oncologico</option>
							<option value="sida">VIH</option>
							<option value="alcohol">Alcoholismo</option>
							<option value="tabaco">Tabaquismo</option>
							<option value="varicela">Varicela</option>
							<option value="escarlatina">Escarlatina</option>
							<option value="sarampion">Sarampion</option>
							<option value="rubeola">Rubeola</option>
							<option value="tosferina">Tosferina</option>
							<option value="parasitosis">Parasitosis</option>
							<option value="urosepsis">Urosepsis</option>
							<option value="amigdalitis">Amigdalitis</option>
							<option value="HA">Hipertensión arterial</option>
							<option value="diabetes">Diabetes</option>
							<option value="TB">Tuberculosis</option>
							<option value="otro">Otras enfermedades</option>
						</select>
						<button style="margin-top: 5%;" class="btn btn-primary" id="nuevaEstadistica" value=<%= estadistica %> type="button">Generar Estadisticas</button>
					</div>
					<div style="clear: both"></div>
				</div>
			</div>
		<%}%>
	</div>
	<!-- End rightSide -->
	<!-- cuadro de dialogo -->
	<div id="dialog-message" style="display: none">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Informe de la peticion</h5>
				<p id="informe"></p>
			</div>
		</div>
	</div>
	<!-- end cuadro de dialogo -->
	<!-- Descripción de pie -->
	<div class="footerRightSide">
		<p><i class="far fa-copyright"></i> 2018 - GeClinic. Todos los derechos reservados.</p>
	</div>
	<!-- End descripción de pie -->
	<script type="text/javascript" src="/public/js/GeClinic.js"></script>
</body>
</html>